html {
	background: black;
	min-height: 100%; }

body { padding-top: 15px; }

#wrapper { margin: 0 auto; max-width: 1400px; min-width: 600px;  max-height: 3000px; background: black; }

.head { 
	background-color: black;
	height: 130px;
	position: relative;
}

.leftside {
	float: left;
	width: 10%;
	height: 470px;
	background-color: black;
	margin-right: .5%;
	margin-top: 75px;
}

.maincontent {
	float: left;
	width: 74.5%;
	background-color: black;
	margin-top: 25px;
}

.rightside {
	float: left;
	width: 12.5%;
	height: 470px;
	background-color: black;
	margin-left: 2.5%;
	margin-top: 25px;
}

.leftcol {
	float: left;
	width: 32.5%;
	background-color: black;
	margin-right: 1%;
}

.centcol {
	float: left;
	width: 33%;
	background-color: black;
}

.rightcol {
	float: left;
	width: 32.5%;
	background-color: black;
	margin-left: 1%;
}

.colhead {
	text-align: center;
	margin-bottom: 12px;
	font: bold 30px "Trebuchet MS";
	background-color: #FFFFFF;
}

.mainbox {
	margin-bottom: 4px;
}

.seperator {
	float: left;
	width: 100%;
	height: 100px;
	margin-bottom: 4px;
	background-color: black;
	margin-top: 10px;
}

.more {
	background-color: white;
	font: italic 15px "Trebuchet MS";
}

.leftBox {
	margin-bottom: 12px;
}

.centBox {
	margin-bottom: 12px;
}

.rightBox {
	margin-bottom: 12px;
}

.boxTitle {
	background-color: #FFFFFF;
	font: 18px "Trebuchet MS";
	width: 99%;
	float: left;
	margin-bottom: 5px;
	padding-left: 1%;
}

.boxDescription {
	background-color: #FFFFFF;
	float: left;
	height: 120px;
	width: 60%;
	margin-bottom: 10px;
	padding-left: 1%;
}

.boxImage {
	background-color: #FFFFFF;
	float: left;
	width: 39%;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

img.box_img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}

.menuOpt {
	float: left;
	margin-bottom: 4px;
	background-color: #FFFFFF;
	height: 25px;
	width: 90%;
}

#homeOpt {
	background-image:url('images/Home.png');
}

#tutorialsOpt {
	background-image:url('images/Tutorials.png');
}

#articlesOpt {
	background-image:url('images/Articles.png');
}

#gamesOpt {
	background-image:url('images/Games.png');
}

#informationOpt {
	background-image:url('images/Information.png');
}


#homeOpt:hover {
    background-image:url('images/Home2.png');
}

#tutorialsOpt:hover {
    background-image:url('images/Tutorials2.png');
}

#articlesOpt:hover {
    background-image:url('images/Articles2.png');
}

#gamesOpt:hover {
    background-image:url('images/Games2.png');
}

#informationOpt:hover {
    background-image:url('images/Information2.png');
}

.link_my:hover{
	font-weight: bold;
}
